* {
    margin: 0px;
    padding: 0px;
}
body {
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 100%;
}

$shadow: 2px 2px 30px rgba(0, 0, 0, 0.25);
$shadow__header: 2px 0px 30px rgba(0, 0, 0, 0.25);

$borderRadius: 10px;

$firstColor: #7f91c0;
$secondColor: #ffffff;
$therdColor: #1f2c4e;
$forthColor: #e9efff;

$productWidth: 18vw;
$productHeight: 38vh;
$productMargin: 1vw;
$storeWidth: $productMargin * 5 + $productWidth * 5;
$storeMargin: (100vw - $storeWidth - ($productMargin / 2)) / 2;

.store {
    margin-left: $storeMargin;
}
.stroe__products {
    display: inline-block;
    margin-top: 2vh;
}

.store__productCart {
    margin-top: 2vh;
    margin-left: $productMargin;
    width: $productWidth;
    height: $productHeight;
    background: $secondColor;
    box-shadow: $shadow;
    border-radius: $borderRadius;

    .ProductCart__ImageSizes {
        width: 100%;
        height: 60%;
        border-radius: 10px 10px 0px 0px;
        overflow: hidden;

        .ProductCart__image {
            width: 100%;
        }
    }
    .productCart__info {
        width: 80%;
        margin-left: 10%;
        margin-top: 6%;

        .productCart__infoDescription {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .productCart__title {
                color: $therdColor;
            }

            .productCart__weight {
                color: $therdColor;
                font-size: small;
                opacity: 0.4;
            }

            .productCart__price {
                height: 4vh;
                width: 50%;
                padding: 0%;
                color: $therdColor;
                background-color: $forthColor;
                border-radius: $borderRadius;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .productCart__priceText {
                font-size: small;
            }
        }

        .ProductCart__Button {
            margin-top: 2vh;
            width: 100%;
            height: 5vh;
            background: $firstColor;
            color: $secondColor;
            border: none;
            border-radius: $borderRadius;
            box-shadow: inset -5px -5px 20px rgba(0, 0, 0, 0.25), inset 5px 5px 20px #c9d8ff;

            .ProductCart__Button__context {
                display: flex;
                align-items: center;

                .productCart__basketImg {
                    margin-left: 40%;
                    width: 30%;
                }
            }
        }

        .ProductCart__Button:hover {
            box-shadow: none;
            transition-duration: 200ms;
        }
    }
}

.store__productCart:hover {
    .ProductCart__ImageSizes {
        .ProductCart__image {
            transform: scale(1.2);
            transition-duration: 800ms;
        }
    }
}


.mainPage__header {
    .header__main {
        width: 100%;
        height: 10vh;
        position: relative;
        background-color: $firstColor;
        box-shadow: $shadow__header;
        display: flex;
        align-items: center;
        z-index: 20;

        .header__titleLink {
            text-decoration: none;
        }

        .header__titleAndDescription {
            margin-left: $productMargin + $storeMargin;
            width: $productWidth;

            .header__title {
                font-size: 40px;

                .title__My {
                    color: $therdColor;
                }
                .title__Store {
                    color: $secondColor;
                }
            }
        }

        .header__Description {
            color: $secondColor;
            opacity: 0.8;
        }

        .header__basket {
            margin-left: $productMargin * 4 + $productWidth * 3;

            .header__basketImage {
                width: 4vw;
            }
        }

        .header__totalPrice {
            margin-left: $productWidth * 0.25;
            color: $forthColor;
        }
    }

    .header__headerButtons {
        width: 100%;
        height: 5vh;
        position: relative;
        display: flex;
        align-items: center;
        box-shadow: $shadow__header;
        background-color: $firstColor;
        z-index: 1;

        .headerButtons__currencyButtons {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: $productWidth * 2 + $productMargin * 3 + $storeMargin + $productWidth / 2;
            width: $productWidth * 2 + $productMargin;
            color: $forthColor;

            .currencyButtons__button {
                border: none;
                width: 5vw;
                height: 3.5vh;
                margin-left: 0.5vw;
                border-radius: $borderRadius;
                background-color: $forthColor;
                color: $therdColor;
                box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.25), inset 2px 2px 5px #e5edff;
            }

            .currencyButtons__button:hover{
                box-shadow: none;
                transition-duration: 200ms;
            }
        }

        .headerButtons__sort {
            margin-left: $productMargin - $productWidth / 2;
            display: flex;
            align-items: center;
            color: $forthColor;

            .sort__sortType {
                width: 10vw;
                margin-left: 1vw;
                height: 3.5vh;
                border: none;
                border-radius: $borderRadius;
                background-color: $forthColor;
                color: $therdColor;
            }
        }
    }
}

.ProductsInBasket--header {
    width: 2vw;
    height: 2vw;
    position: relative;
    margin-left: 50%;
    margin-top: -45%;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $therdColor;
    color: $secondColor;
}
.ProductsInBasket--header--hidden {
    width: 2vw;
    height: 2vw;
    visibility: hidden;
    position: relative;
    margin-left: 50%;
    margin-top: -45%;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $therdColor;
    color: $secondColor;
}

.ProductsInBasket--productCart {
    width: 2vw;
    height: 2vw;

    margin-left: $productWidth - 1.4vw;
    margin-top: $productHeight * 0.35;

    position: absolute;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $therdColor;
    color: $secondColor;
}
.ProductsInBasket--productCart--hidden {
    visibility: hidden;
    width: 2vw;
    height: 2vw;
    position: absolute;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $therdColor;
    color: $secondColor;
}

$tableWidth: 100vw - ($productMargin + $storeMargin) * 2;

.basketPage__table {
    background-color: $secondColor;
    width: $tableWidth;
    box-shadow: $shadow;
    margin-left: $productMargin + $storeMargin;
    border-radius: $borderRadius;
    box-sizing: border-box;
    margin-top: 10vh;
    padding-left: 6vw;
    padding-right: 6vw;
    padding-top: 4vh;
    padding-bottom: 4vh;

    .table__title {
        color: $firstColor;
        font-size: 40px;
        font-weight: bold;
    }

    .table__tableItem {
        color: $therdColor;
        .tableItem__column--button {
            width: 3vw;

            .column__button {
                width: 80%;
                height: 5vh;
                border: none;
                border-radius: $borderRadius;
                background-color: $firstColor;
                color: $secondColor;
                font-size: 20px;
                box-shadow: inset -3px -3px 20px rgba(0, 0, 0, 0.25), inset 3px 3px 20px #c9d8ff;
            }

            .column__button:hover{
                box-shadow: none;
                transition-duration: 200ms;
            }
        }
        .tableItem__column {
            width: $tableWidth / 5;
        }
    }

    .tableItem__imgSize {
        width: 3vw;
        height: 3vw;
        border-radius: 100px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: end;

        .tableItem__img {
            width: 4vw;
        }
    }
}